<!DOCTYPE html>
<html>
  <!-- render partials -->
  <%= render'layouts/head' %>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KHWGSVR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
      <%= render 'layouts/header' %>
    <div class="container col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
      <%= yield %>
      <%= render 'layouts/footer' %>

      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
      <!-- To display debug information -->
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
